#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Icon=ProjectRio
Exec=sh -c "env QT_QPA_PLATFORM=xcb ~/.local/share/project-rio/dolphin-emu"
Terminal=false
Type=Application
Categories=Game;Emulator;
Name=Project Rio
GenericName=Wii/GameCube Emulator
Comment=A Wii/GameCube Emulator
